

<h1>Artist</h1> 

<table id="">
    <tr>
        <th>Song Title</th>
        <th>Rating</th>
    </tr>
    {{#each artist}}
    <tr>
        <td>{{title}}</td>
        <td>{{overallRating}}</td>
    </tr>
   {{/each}}
</table>