

<h1>Artist</h1> 

<table id="">
    <tr>
        <th>Song Title</th>
        <th>Rating</th>
    </tr>
    {{#each artist}}
    <tr>
        <td>{{title}}</td>
        <td>{{overallRating}}</td>
    </tr>
   {{/each}}
</table>

<form action="/artists">
    <button type="submit">Artists</button>
</form>

<form action="/songs">
    <button type="submit">Songs</button>
</form>

<form action="">
    <button type="submit">Account</button>
</form>

<formm action="">

</formm>