

<h1>Artist</h1> 

<table id="">
    <tr>
        <th>Song Title</th>
        <th>Rating</th>
    </tr>
    {{#each artist}}
    <tr>
        <td><a href="/artists/{{_id}}">{{title}}</a></td>
        <td>{{overallRating}}</td>
    </tr>
   {{/each}}
</table>

<form action="/artists">
    <button type="submit">Artists</button>
</form>

<form action="/songs">
    <button type="submit">Songs</button>
</form>

<form action="">
    <button type="submit">Account</button>
</form>

<formm action="/login">
    <button type="submit">Login</button>
</formm>

<form action="/logout">
    <button type="submit">Logout</button>
</form>