

<h1>Artists</h1> 
<table id="">
    <tr>
        <th>Rank</th>
        <th>Artist</th>
        <th>Rating</th>
    </tr>
    {{#each artists}}
    <tr>
        <td>{{@index}}</td>
        <td>{{artist}}</td>
        <td>{{rating}}</td>
    </tr>
   {{/each}}
</table>