
<h1 id="colorstrip">Musicmania</h1>
<p>
    A music lover's sanctuary. Find your favorite songs and new music.
</p>

<form action="/register" >
    <button type="submit" id="register">Join now</button>
</form>

<form action="/login" >
    <button type="submit" id="login">Login</button>
</form>

<form action="/songs">
    <button type="submit" id="songs-page">Songs</button>
</form>

<form action="/artists">
    <button type="submit" id="artists-page">Artists</button>
</form>

