{{!--
--> All the ids, fors need to be changed

--}}

<h1>Musicmania</h1>
<p>
    A music lover's sanctuary. Find your favorite songs and new music.
</p>

<form action="/register" id="register">
    <button type="submit">Join now</button>
</form>

<form action="/login" id="login">
    <button type="submit">Login</button>
</form>