
<h1>Login</h1>

{{#if error}}
    <div class="error">Error: {{errorMsg}}</div>
{{/if}}

{{!-- <div class="square"></div> --}}
<form id="login-form" method="POST" action="/login">
    <label for="userName">Username</label>
    <input name="userName" id="userName">
    <label for="password">Password</label>
    <input name="password" id="password" type="password">
    <button type="submit" id="login-lp">Login</button>
</form>
<a href="/register" id="sign-up-lp">Don't have an account?</a>

<form action="/artists">
    <button type="submit">Artists</button>
</form>

<form action="/songs">
    <button type="submit">Songs</button>
</form>