
<h1>Login</h1>

<div class="square"></div>
<form id="login-form" method="POST">
    <label for="username-lp">Username</label>
    <input name="username-lp" id="username-lp">
    <label for="password-lp" id="password-lp">Password</label>
    <input name="password-lp" id="password-lp" type="password">
    <button type="submit" id="login-lp">Login</button>
</form>
<a href="/register" id="sign-up-lp">Sign up</a>