<h1>Logout</h1>
<div class="square">
    <div class="logout-blurb">Are you sure you want to log out?</div>
</div>

<form>
    <button type="submit" id="logout">Logout</button>
</form>

<a href="/" id="home-logout">Home</a>