<form action="/songs">
    <button type="submit" id="songs-page">Songs</button>
</form>

<form action="/artists">
    <button type="submit" id="artists-page">Artists</button>
</form>

<form action="/logout">
    <button type="submit" id="user-logout">Logout</button>
</form>
<a href="/private" id="website-home">Account</a>
<h1>Your Playlists</h1>
<table id="playlists-table">
  {{#each playlist}}
      <tr>
          <th>Playlist Name</th>
          <th>Description</th>
      </tr>
      <tr>
          <td> <a href="/playlists/{{_id}}">{{name}}</a></td>
          <td>{{description}}</td>
      </tr>
  {{/each}}
</table>
