
<h1>Create Your Musicmania Account</h1>

<div class="square"></div>
<form id="register-page" method="POST" action="/register">
    <label for="firstName">First Name</label>
    <input name="firstName" id="firstName">

    <label for="lastName">Last Name</label>
    <input name="lastName" id="lastName">

    <label for="userName">Username</label>
    <input name="userName" id="userName">

    <label for="password">Password</label>
    <input name="password" id="password" type="password">

    <label for="confirmPassword">Confirm Password</label>
    <input name="confirmPassword" id="confirmPassword" type="password">
    
    <button type="submit" id="create-account-rp">Create Account</button>
</form>
<a href="/login" id="login-rp">Login</a>