{{!--
--> All the ids, fors need to be changed

--}}

<h1>Create Your Musicmania Account</h1>

<div class="square"></div>
<form id="register-page" method="POST" action="/register">
    <label for="first-name-rp">First Name</label>
    <input name="first-name-rp" id="first-name-rp">
    <label for="last-name-rp">Last Name</label>
    <input name="last-name-rp" id="last-name-rp">
    <label for="username-rp" id="username-rp">Username</label>
    <input name="username-rp" id="username-rp">
    <label for="password-rp" id="password-rp">Password</label>
    <input name="password-rp" id="password-rp">
    <label for="confirm-password-rp" id="confirm-password-rp">Confirm Password</label>
    <input name="confirm-password-rp" id="confirm-password-rp">
    <button type="submit" id="create-account-rp">Create Account</button>
</form>
<a href id="login-rp">Login</a>