
<h1>Settings</h1>
  <p>Hello, {{{fName}}}  {{{lName}}}</p>

<p>Username: {{{uName}}}</p>
<p>Password:  {{{pass}}}</p>

  <a href="/">If you would like to go back to the Home page please click here</a>


