

    <h1>Settings Page</h1>
      <p>Hello, {{{fName}}} {{{lName}}}</p>
      <p>Username: {{{uName}}} </p>


   
      <a href="/">If you would like to go back to the Home page please click here</a>
   
