<form id="search" method = "post">
  <label for="dropdown">Choose an option:</label><br>
  <select id = "dropdown" name = "dropdown">
    <option value="Song">Song</option>
    <option value="Artist">Artist</option>
    <option value="Genre">Genre</option>
    
  </select>
  <label for="Term">Name:</label><br>
      <input type="text" id="Term" name="Term"><br>
      <input type="submit" value="Submit">
</form>


<h1>Songs</h1> 
<table id="songs-table">
    {{#each song}}
    <tr>
        <th>Song Title</th>
        <th>Artist</th>
        <th>Genre</th>
        <th>Overall Rating</th>
    </tr>
    <tr>
        <td>{{title}}</td>
        <td>{{artist}}</td>
        <td>{{genres}}</td>
        <td>{{overallRating}}</td>
    </tr>
    {{/each}}
</table>


