{{!--
--> All the ids, fors need to be changed

--}}

<h1></h1>
<form>
    <label for="">Artist</label>
    <input>
    <label for="">Genre</label>
    <input>
    <label for="">Overall Rating</label>
    <input>
</form>

<a href></a>