<h1>Songs</h1> 
<table>
    {{#each song}}
    <tr>
        <th>Song Title</th>
            <td>{{{this.title}}}</td>
        <th>Artist</th>
            <td>{{{this.artist}}}</td>
        <th>Genre</th>
            <td>{{{this.genres}}}</td>
        <th>Overall Rating</th>
            <td>{{{this.overallRating}}}</td>
    </tr>
    {{/each}}
</table>


