{{!--
--> All the ids, fors need to be changed

--}}

<h1>My Songs</h1>

{{{#each songs}}}
    <label for="">Artist</label>
   <p>{{{artist}}}</p>
    <label for="">Genre</label>
    <p>{{{genre}}}</p>
    <label for="">Overall Rating</label>
    <p>{{{overallRating}}}</p>
{{{/each}}}

<a href></a>