/*
Shared CSS
*/

h1 {
    text-align: center;
    font-weight: bold;
}

body {
    background-color: #62EDD6;
}

p {
    text-align: center;
}

.square {
    height: 50px;
    width: 50px;
    border-radius: 10px;
    background-color: white;
    align-items: center;
}

#colorstrip {
    width: 100%;
    height: 2px;
    border-style: solid;
    border-color: #FE65B7;
    background-color: #FE65B7;
}


/* Home Page */
#homepage {
    border-radius: 10px;
    background-color: #8FC33A;
}

#join {
    color: white;
    font-weight: bold;
}

/* Register Page */


/* Login Page */


/* Logout Page */


/* Settings Page */


/* Individual Playlist Page */

/* Songs Page */


/* Song Page */


/* Playlists Page */

/* Activity Page */